body {
  background-color: antiquewhite;
  overflow: hidden;
  margin: 0rem;
}

h1 {
  text-align: center;
}

.rock-paper-scisors button {
  display: flexbox;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 5rem;
}

.computer {
  text-align: center;
  margin-top: 2rem;
  font-size: large;
}
