body {
  background-color: antiquewhite;
  overflow: hidden;
  margin: 0rem;
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
}

.rock-paper-scisors button {
  display: flexbox;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 5rem;
}

.winner {
  text-align: center;
  margin-top: 2rem;
}
.score {
  display: flex;
  justify-content: space-evenly;
}
